@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.transition-container {
  position: relative;
  overflow: hidden;
}

.slide-out-to-top {
  animation: slideOutToTop 0.5s forwards;
}

.slide-out-to-bottom {
  animation: slideOutToBottom 0.5s forwards;
}

@keyframes slideOutToTop {
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideOutToBottom {
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.slide-in-from-top {
  animation: slideInFromTop 0.5s ease-out;
}

.slide-in-from-bottom {
  animation: slideInFromBottom 0.5s ease-out;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
